<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="databaseName" value="yumyum"/>
    <add key="usr" value="mgdB_RW"/>
    <add key="pwd" value="yU*3m+m5g/7d"/>
    <add key="serverA" value="ds053251.mongolab.com"/>
    <add key="portA" value="53251"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
